<%- include("header") -%>

<h2>This is the about page</h2>

<p>Deletes the first document that matches conditions from the collection. It returns an object with the property deletedCount indicating how many documents were deleted. Behaves like remove(), but deletes at most one document regardless of the single option.</p>



<%- include("footer") -%>
